*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    top: 0;
}
nav{
    width: 100%;
   background-color: #00a6a4;
   box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
   position: fixed; 
  
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 60px;
} 
nav a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: rgb(14, 13, 13);
        
}
nav a:hover{
    background-color: #00a6a4;
    color: white; 
}
nav li:first-child{
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
}
.sideBar{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 250px;
    right: 0;
    backdrop-filter: blur(10px);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sideBar li{
    width: 100%;

}
.sideBar a{
    width: 100%;
}
.menuButton{
    display: none;
}
@media (max-width:800px){
    .hideOnMobile{
        display: none;
    }
    .menuButton{
        display: block;
    }
}
@media (max-width:600px){
    .sideBar{
        width: 100%;
    }
    nav{
        width: 99%;
    }
    .hero-section{
        width: 100%;
        height: 100vh;
        background-color: #00a6a4;
    }
    .container{
        padding-top: 20px;
        display: flex;
        gap: 10px;
        flex-direction: column;        
    } 
    .h-image{
        display: none;
    }
  
    .content1{
        padding-top: 10%;
        padding-left: 15%;
    }
    .content1>h1{
        font-weight: bold;
        font-size: 40px;
        padding-bottom: 40px;
    }
    .content1>p{
        font-weight: thin;
        font-size: 25px;
        padding-bottom: 30px;
    }
    .hero-btn{
        background-color: white;
        color: #00a6a4;
        /* padding-top: 10px; */
        border-radius: 20px;
        padding-left: 20px;
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        text-decoration: none;
    }
    .hero-btn:hover{
        background-color: #0b7a7af2;
        color: white;  
    }
    .container2{
        display: flex;
        flex-direction: column-reverse;
      }
      .container2>img{
        display: none;
      
      }
      .cont2-1{
          order: 2;
          margin-top: 0;
      }
      .page-3{
        width: -fit-content;
        max-width: 100%;
        padding-bottom: 20px;
        
      }
      .container3{
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        padding-left: 240px;
        padding-right: 40px;
        gap: 40px;
        text-align: left;
        flex-direction: column;
      } 
      .sales{
       
      }
      .right{
       
      }
      .right>img{
        max-width: 439px;
      }
      .sales>h4{
        font-size: 30px;
        font-weight: bold;
        line-height: 1;
      }
      .sales>li{
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
      }
      .sales>p{
        font-weight: thin;
        font-size: 20px;
        line-height: 1;
        padding-left: 25px;
      }

}
.demo-btn a{
   
    color: #00a6a4;
  
}
.demo-btn{
    background-color: white;
    /* padding-top: 10px; */
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 20px;
}
.demo-btn a:hover{
    color: white;
    background-color: #0b7a7af2;
    border-radius: 20px;
    margin-top: 5px;
    
}
.hero-section{
    width: 100%;
    height: 88vh;
    padding-top: 100px;

}
.container{
    /* padding-top: 30px */
    display: flex;
    gap: 10px;
    flex-direction: row;
    margin-top: 10px;
    
}
/* .h-image{
    width: 400px;
} */
.container-content1{
    background-color: #00a6a4;
    border-radius: 40px;
    padding-right: 50px;
    color: white;
}
.content1{
    padding-top: 10%;
    padding-left: 15%;
}
.content1>h1{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 40px;
}
.content1>p{
    font-weight: thin;
    font-size: 25px;
    padding-bottom: 40px;
}
.hero-btn{
    background-color: white;
    color: #00a6a4;
    /* padding-top: 10px; */
    border-radius: 20px;
    padding-left: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-decoration: none;
}
.hero-btn:hover{
    background-color: #0b7a7af2;
    color: white;  
}
.why-us{
    width: 100%;
    height: 88vh;
    background-color: azure;
}
.container2{
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
  padding-left: 50px;
  padding-top: 100px;
}
.container2>img{
   width: 50%; 

}
.cont2-1{
    padding-left: 40px;
    margin-top: 90px;
 }
 .cont2-1>h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 2;
 }
 .cont2-1>p{
    font-weight: thin;
    font-size: 20px;
    min-width: 20px;
 }
  .page-3{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    padding-bottom: 200px;
  }
 .container3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    gap: 40px;
    text-align: left;
    flex-direction: row;
    padding-left: 50px;

  }
  .sales{
    flex-direction: row;
    
  }
 
  .right>img{
    width: 550px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;


  }
  .sales>h4{
    font-size: 30px;
    font-weight: bold;
    line-height: 2;
  }
  .sales>li{
    font-weight: bold;
    font-size: 20px;
    line-height: 2;
  }
  .sales>p{
    font-weight: thin;
    font-size: 20px;
    line-height: 1;
    padding-left: 25px;
  }